<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
{{ if .Description }}<meta name="description" content="{{ .Description }}">{{ else if .Site.Params.description }}<meta name="description" content="{{ .Site.Params.description }}">{{ end }}
<link rel="stylesheet" href="{{ "css/style.css" | absURL }}">
{{ range .AlternativeOutputFormats -}}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
{{ end -}}
